{% extends 'general.html' %}

{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col mt-3">
			{% if form.errors %}
				<p class="lead">Su nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.</p>
			{% endif %}

			{% if next %}
				{% if user.is_authenticated %}
					<p>Su cuenta no tiene acceso a esta página. Para proceder, por favor ingrese con una cuenta que tenga acceso.</p>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col mt-3">
			<div class="card text-white bg-dark mb-3" style="padding: 15px">
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
						{{ form.username|as_crispy_field }}
						{{ form.password|as_crispy_field }}
				<div>
					<input class="btn btn-success btn-lg btn-block" type="submit" value="Ingresar" />
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}