{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Borrar: {{ materia.nombre }} {{ materia.año }}º {% endblock titulo %}
{% block contenido %}

	<h1 class="text-white">Borrar: {{ materia.nombre }} de {{ materia.año }}º </h1>
	<a href="{% url 'materia:detalle' materia.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Cancelar</a>
	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
		<p>Esta seguro que quiere borrar "{{ materia.nombre }} de {{ materia.año }}º"?</p>
		{% buttons %}
    	<button type="submit" class="btn btn-danger">Borrar materia.</button>
		{% endbuttons %}
	</form>
	</div>

{% endblock contenido %}
