{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Registrar alumno{% endblock titulo %}
{% block contenido %}
	<h1 class="text-white">Registrar una alumno para mesa de examen:</h1>
	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
    	<button type="submit" class="btn btn-success btn-lg btn-block">Registrar alumno.</button>
    	<a href="{% url 'alumnos_mesas:listado_alumnos' %}" class="btn btn-danger btn-lg btn-block" role="button">Cancelar</a>
		{% endbuttons %}
	</form>
	</div>
{% endblock contenido %}
